body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FEFCFE;
}

.container{
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 27px;
  padding: 0;
}
.header-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 69%;
}
/*лого*/
.logo-header {
  display: block;
  background-image: url(../logo/logo-header.svg);
  left: 0;
  width: 97px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
/*хедер меню*/
.header-nav {
  list-style-type: none;
  display: flex;
  gap: 54px;
}
.header-nav a {
  font-weight: 400;
  font-size: 18px;
  Line-height: 27px;
  color: #443737;
  text-decoration: none;
  transition: 0.3s;
}
.menu-link:hover {
  color: #443737;
}
.menu-link {
  position: relative;
}
.menu-link:hover:before {
  transform: scaleX(1);
  transform: transform 0.25s;
}
.menu-link:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #443737;
  position: absolute;
  left: 0;
  bottom:-10px;
  transform: scaleX(0);
  transform-origin: left;
}
 /*иконка соцсети*/
.icon-social {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  right: 0;
}

.icon-scale-1 a {
  margin-left: 30px;
  display: block;
  background-image: url(../images/icons/IN.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  transition: 0.3s;
  transform: scale(1);
  opacity: 0.8;
}
.icon-scale-2 a {
  margin-left: 30px;
  display: block;
  background-image: url(../images/icons/FB.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  transition: 0.3s;
  transform: scale(1);
  opacity: 0.8;
}
.icon-scale-1 a:hover {
  transform: scale(1.2);
  opacity: 1;
}
.icon-scale-2 a:hover {
  transform: scale(1.2);
  opacity: 1;
}
/*иконка соцсети*/

/*Главный баннер*/
.banner-content {
  padding: 220px 0 274px;
  width: 57%;
  position: relative;
}
.banner-header {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  color: #2B3541;
  padding: 0;
  margin: 0;
  text-align: justify;
}
.banner-dis {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  color: #2B3541;
  margin: 43px 0 21px;
}
.banner-dis span:first-child {
  padding-right: 10px;
}
.banner-bottom {
  padding-left: 93px;
 }
.banner-text p{
  width: 60%;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #2B3541;
  margin: 0 0 53px;    
}
.banner {
  margin: 0 0 145px;
  position: relative;
  overflow: hidden;
}
.banner-button {
  text-decoration: none;
  background: #FBF138;
  border: none;
  padding: 20px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2B3541;
  transition: 0.5s;
}
.banner-button:hover {
  font-weight: 700;
  background: #2B3541;
  color: #FBF138;
}
.banner-arrow {
  position: absolute;
  bottom: 12px;
  left: 0;
}
.banner-screen {
  position: absolute;
  top: 32px;
  left: 329px;
  width: 983px;
  height: 810px;
}
.banner-rectangle {
  background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
  opacity: 0.2;
  width: 464px;
  height: 850px;
  position: absolute;
  bottom: 15px;
  right: -487px;
  z-index: 1;  
}
.menu-title {
  text-transform: none;
  font-weight: 700;
  size: 40px;
  line-height: 50px;
  color: #2B3541;
}
.banner-link {
  font-weight: 700;
  font-size: 16px;
  padding: 18px 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #1E2F40;
  font-weight: bold;  
  background-color: #FBF138;  
  border: 1px solid #FBF138;
  transition: 0.5s;
}
.banner-link:hover {
  font-weight: 700;
  font-size: 16px;
  background-color: #2B3541;
  color: #FBF138;
}
.banner-title {
  font-size: 60px;
  font-weight: 900;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 12px;
}
.banner-title span {
  font-family: 'Montserrat', sans-serif;
  display: block;
  max-width: 96px;
  text-align: center;
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #F37335;
  border-radius: 14px;
  padding: 5px 0; 
}
.banner-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color:#2B3541;
  max-width: 311px;
  margin-bottom: 35px;
  margin-top: 0;
  line-height: 1.6;
}
/*Главный баннер*/

/*arrow*/
.banner-arrow {
  position: absolute;
  bottom: 12px;
  left: 0;
}
.banner-screen {
  position: absolute;
  top: 32px;
  left: 329px;
  width: 983px;
  height: 810px;
  z-index: 10;
}
.banner-rectangle {
  background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
  opacity: 0.2;
  width: 464px;
  height: 850px;
  position: absolute;
  bottom: 15px;
  right: -487px;
  z-index: 1;
}
/*arrow*/

/*Близжайшие события*/
.events {
  margin-bottom: 160px;
}
h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #2B3541;
  margin: 0;
  padding: 0;
}
.events-grid {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 600px; 
  gap: 20px;
  position: relative;
}
.events-item {
  position: relative;
}
.events-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.pic-1 {
  background-image: url(../files/@1x/maraphon.png);
}
.pic-2 {
  background-image: url(../files/@1x/Vebinar.png);
}
.pic-3 {
  background-image: url(../files/@1x/yoga_2.png);
}
.events-table {
  padding: 10px 30px;
}
.event-date {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #2B3541;
  opacity: 0.999;
  position: relative;
}
.event-name {
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #2B3541;
  opacity: 0.99;
  margin: 21px 0 0;
  position: relative;
}
.event-join {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  color: #2B3541;
  padding: 20px 49px;
  background: #FBF138;
  box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
  position: absolute;
  top: 185px;
  left: 30px;
  transition: 0.5s;
  
}
.event-join:hover {
  background: #2B3541;
  color: #FBF138;
  transition: 0.5s;
  cursor: pointer;
}
.event-button {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #FBF138; 
  padding: 10px 20px;  
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #2B3541;
  transition: 0.5s;
}
.events-add {
  display: none;
}
/*РАсписание тренировок*/
.schedule-header {
  display: flex;
  justify-content: space-between;  
  margin-bottom: 40px;
}
.schedule-date {
  right: 0;
  font-weight: 700;
  font-size: 28px;
  color: #2B3541;
}
.schedule-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.schedule-item {
  border: 1px solid #2B3541;
  padding: 20px 30px;
}
.schedule-title {
  font-weight: 700;
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 20px;
  color: #2B3541;
}
.schedule-time {
  font-weight: 400;
  font-size: 18px;
  color: #010101;
  padding: 114px 186px;
  padding-top: 0;
  padding-right: 0;  
}
/*РАсписание тренировок*/

/*обратная связь*/
.form-control {
  padding: 19px 250px 19px 19px;
  border: none;    
}
.form {
  text-align: center;  
}
.subscription {
  background-color: #F3F3F3;
  margin-top: 160px;
  padding-top: 80px;
  
}
.agree-data {
  margin-bottom: 80px;
}
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2B3541;
  padding: 25px 40px;
  background: #FBF138;
  transition: 0.5s;
}
.about-add {
  display: flex;
}
.about-banner {
  display: flex;
}
/*обратная связь*/

/*футер*/
.footer {
  background-color: #F3F3F3;
  padding: 52px 0;
}
.footer-content-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.footer-nav li {
  display: inline-block;
}
.nav-link .logo-header {
  margin-top: -5px;
}
a, u {
  text-decoration: none;
}
.footer-nav {
  flex-basis: 55.5%;
  display: flex;
  justify-content: space-between;
}
.footer-nav ul {
  display: flex;
  justify-content: space-between;
  flex: 0 0 73%;
}
.footer-nav a {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #2B3541;
}
footer ul .nav-link::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: transparent;
  display: block;
  transition: 0.5s;
  margin-top: 3px;
}
footer ul .nav-link:hover::after {
  background-color: #2B3541;
  transition: 0.5s;
}
.footer-mail {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #2B3541;
  display: inline-block;
  z-index: 10;
  position: relative;
}
.contacts {
  flex: 0 0 295px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: -8px;
}
.footer-circle {
  position: absolute;
  width: 25px;
  height: 25px;
  left: -17px;
  top: 10px;
  background-color: #FBF138;
  border-radius: 50%;
  z-index: 1;
}
.footer-social_media {
  flex: 0 0 86px;
  display: flex;
  justify-content: space-between;
  margin: 9px 0 0 68px;
}
.footer-social-media li:nth-child(n) a {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  transition: 0.3s;
  transform: scale(1);
  opacity: 0.8;
  margin-top: -7px;
}
.rights {
  display: flex;
  justify-content: space-between;
}
  .rights p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #2B3541;
    opacity: 30%;
  }
  .Annblock a {
    text-decoration: underline;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #2B3541;    
  }

  .banner-button:hover,
  .subscribe-button:hover,
  .about-btn:hover {
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(43, 53, 65, 0.2);
    color: #FBF138;
    transition: 0.5s;
  }
  .burger {
    width: 34px;
    height: 22px;
    background-image: url(../img/menu-burger.svg);
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
  }  
/*футер*/




  
