body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FEFCFE;
}

.container{
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 27px;
  padding: 0;
}
.header-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 69%;
}
/*лого*/
.header-logo {
  display: block;
  background-image: url(../images/logo.svg);
  width: 97px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
/*хедер меню*/
.header-nav {
  list-style-type: none;
  display: flex;
  gap: 54px;
}
.header-nav a {
  font-weight: 400;
  font-size: 18px;
  Line-height: 27px;
  color: #443737;
  text-decoration: none;
  transition: 0.3s;
}
.menu-link:hover {
  color: #443737;
}
.menu-link {
  position: relative;
}
.menu-link:hover:before {
  transform: scaleX(1);
  transform: transform 0.25s;
}
.menu-link:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #443737;
  position: absolute;
  left: 0; bottom:-10px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s;
}
 /*иконка соцсети*/
.icon-social {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
.icon-scale-1 a {
  margin-left: 30px;
  display: block;
  background-image: url(../images/icons/IN.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  transition: 0.3s;
  transform: scale(1);
  opacity: 0.8;
}
.icon-scale-2 a {
  margin-left: 30px;
  display: block;
  background-image: url(../images/icons/FB.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  transition: 0.3s;
  transform: scale(1);
  opacity: 0.8;
}
.icon-scale-1 a:hover {
  transform: scale(1.2);
  opacity: 1;
}
.icon-scale-2 a:hover {
  transform: scale(1.2);
  opacity: 1;
}
/*иконка соцсети*/

/*Главный баннер*/
.banner-content {
  padding: 220px 0 274px;
  width: 57%;
  position: relative;
}
.banner-header {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  color: #2B3541;
  padding: 0;
  margin: 0;
  text-align: justify;
}
.banner-dis {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  color: #2B3541;
  margin: 43px 0 21px;
}
.banner-dis span:first-child {
  padding-right: 10px;
}
.banner-bottom {
  padding-left: 93px;
 }
.banner-text p{
  width: 60%;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #2B3541;
  margin: 0 0 53px;    
}
.banner {
  margin: 0 0 145px;
  position: relative;
  overflow: hidden;
}
.banner-button {
  text-decoration: none;
  background: #FBF138;
  border: none;
  padding: 20px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2B3541;
  transition: 0.5s;
}
.banner-button:hover {
  font-weight: 700;
  background: #2B3541;
  color: #FBF138;
}
.banner-arrow {
  position: absolute;
  bottom: 12px;
  left: 0;
}
.banner-screen {
  position: absolute;
  top: 32px;
  left: 329px;
  width: 983px;
  height: 810px;
  z-index: 10;
}
.banner-rectangle {
  background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
  opacity: 0.2;
  width: 464px;
  height: 850px;
  position: absolute;
  bottom: 15px;
  right: -487px;
  z-index: 1;  
}


.menu-title {
  text-transform: none;
  weight: 700;
  size: 40px;
  line-height: 50px;
  color: #2B3541;
}
.banner-link {
  font-weight: 700;
  font-size: 16px;
  padding: 18px 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #1E2F40;
  font-weight: bold;  
  background-color: #FBF138;  
  border: 1px solid #FBF138
  transition: 0.5s;
}
.banner-link:hover {
  font-weight: 700;
  font-size: 16px;
  background-color: #2B3541;
  color: #FBF138;
}
.banner-title {
  font-size: 60px;
  font-weight: 900;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 12px;
}
.banner-title span {
  font-family: 'Montserrat', sans-serif;
  display: block;
  max-width: 96px;
  text-align: center;
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #F37335;
  border-radius: 14px;
  padding: 5px 0; 
}
.banner-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color:#2B3541;
  max-width: 311px;
  margin-bottom: 35px;
  margin-top: 0;
  line-height: 1.6;
}
/*Главный баннер*/

/*arrow*/
.banner__arrow {
  position: absolute;
  bottom: 12px;
  left: 0;
}
.banner__screen {
  position: absolute;
  top: 32px;
  left: 329px;
  width: 983px;
  height: 810px;
  z-index: 10;
}
.banner__rectangle {
  background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
  opacity: 0.2;
  width: 464px;
  height: 850px;
  position: absolute;
  bottom: 15px;
  right: -487px;
  z-index: 1;
}
/*arrow*/

/*Близжайшие события*/
h2 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #2B3541;
  }
  .events-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 600px; 
    gap: 20px;
    padding-top: 41px;
    position: relative;
  }
  .pic-1 {
    background-image: url(../files/@1x/maraphon.png);
    width: 367.3219299316406px;
    height: 600px;
    top: 1209px;
    left: 389px;
  }
  .pic-2 {
    background-image: url(../files/@1x/Vebinar.png);
    width: 367.3219299316406px;
    height: 600px;
    top: 1209px;
    left: 389px;
  }
  .pic-3 {
    background-image: url(../files/@1x/yoga.jpg);
    width: 367.3219299316406px;
    height: 600px;
    top: 1209px;
    left: 389px;
    }   
  /*Близжайшие события*/


  /*Расписание тренировок*/
  /*Расписание тренировок*/




/* Responsive */
@media (min-width: 1001px) {
  .footer-list + .footer-list-tel {
     display: none;
  } 
  /* .footer-tel-mobil {
    display: none; 
 }  */
}
@media (max-width: 1000px) {
  /* menu */
  .header-nav + .modal{
    display: block;
  }  
  nav {
    display: none;
  } 
  .container {
     max-width: 738px;
  }
  .header-logo {
    width: 150px;
    height: 48px;
    background-size: contain;
  }
  .header-nav {
    gap: 22px;
  }
  .header-item {
    flex-basis: 75.5%;
  }
  .bg {
    margin-bottom: 72px;
  }
  .banner-box {
    background-position: -80px center;
    padding: 100px 40px 120px;
  }
  .menu-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 15px;
  }
  .menu-other {
    overflow: hidden;
    height: 558px;
  }
  .menu-other .menu-grid {
    display: flex;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 50px;    
  }
  .menu-other .menu-grid-item {
    flex: 0 0 281px;
  }
  .menu-other .menu-grid-cover,
  .menu-other .menu-grid-cover img {
    height: 320px;
  }
  .footer-tel {
    display: none;
  }
  .footer-list + .footer-list-tel {
    display: block;
  }
  /* index */
  .content {
    padding-top: 42px;
    padding-left: 28px;
  }
  .content-title {
    font-size: 86px;
    line-height: 101px;
  }
  .content-title span {
    font-size: 22px;
    margin-bottom: 7px;
  }
  .content-text {
    max-width: 420px;
    font-size: 14px;
    margin-top: 28px;
    line-height: 1.4;
    margin-bottom: 30px;
  }
  .content-link, .promo a {
    color: #1E2F40;
    background-color: #FBB731;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px 45px;
    display: inline-block;
    font-size: 13px;
  }
  .main img {
    position: absolute;
    width: 662px;
    right: 56px;
    bottom: -109px;
  }
  .visual-bg {
    position: relative;
    width: 333px;
    height: 100%;
    left: -204px;
  }
  .footer-tel-mobile {
    margin-top: 50px;
  }
  }
  @media (min-width: 778px) {
    .header-burger {
       display: none;
    }     
  }
  @media (max-width: 778px) {
    .header-nav + .modal{
      display: none;
    }  
    nav {
      display: none;
    } 
     .visual-bg {
    position: relative;
    width: 333px;
    height: 100%;
    left: -204px;
  }    
  }
@media (max-width: 765px) {
  /* menu */
  .header {
    gap: 21px;
  }
  .menu-other .container {
    padding-right: 0; 
  }
  .button-up.visible {
    display: none;
  }
   /* index burger*/
  .main img {
    position: absolute;
    width: 496px;
    right: -84px;
    bottom: -815px;
  }
  .visual-bg {
    position: absolute;
    width: 333px;
    height: 644px;
    left: 396px;
}
  /* index banners */
  .wrapper {    
    display: flex;
    flex-flow: column-reverse;
    height: 100%;
    gap: 22px;
  }
  .content {
    padding-bottom: 0;
  }
 }
@media (max-width: 586px) {
  .menu-grid {
    gap: 25px 15px;
    margin-bottom: 50px;
  }
  .menu-grid-cover {
    height: 56vw;
    margin-bottom: 10px;
  }
  .menu-grid-cover img {
    height: 100%;
  }  
  .menu-grid-title {
    font-size: 15px;
  }
  .menu-grid-price {
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 14px;
  }
  .menu-grid-btn {
    padding: 10px 21px;
  }
  .menu-other {
    height: 108vw;
  }
  .menu-other .menu-grid {
    padding-bottom: 24vw;
  }
  .menu-other .menu-grid-cover{
    height: 56vw;
  }
  .menu-other .menu-grid-cover img {
    height: 100%;
  }  
  .menu-other .menu-grid-item {
    flex: 0 0 38vw;
  }  
  .menu-grid-title {
    font-size: 13px;
    margin-top: 12px;
    margin-bottom: 10px;
  }
  .menu-grid-price {
    font-size: 16px;
    margin-bottom: 14px;
  }  
  .footer {
    margin-top: 30px;
  }
  .banner-link {
    padding: 11px 25px;
}
.visual-bg {
  position: relative;
  width: 432px;
  height: 100%;
  margin-left: 168px;
}
}

@media (max-width: 567px) {
  /* menu */
  .header {
    padding-top: 19px;
    padding-bottom: 19px;
  }
  .header-logo {
    width: 116px;
    height: 37px;
  }
  .breadcrumbs a {
    font-size: 14px;
  }
  .bg {
    margin-bottom: 33px;
  }
  .tittle {
    font-size: 38px;
  }   
  .description {
    font-size: 12px;
  }
  .bg {
    padding: 55px 0;
  }
  .banner-box {
    background-position: 17% center;
    padding: 35px 24px 54px;
    margin-bottom: 40px;
  }
  .menu-title {
    font-size: 27px;
  }
  .menu-select {
    font-size: 12px;
    flex-basis: 136px;
    padding: 13px 24px 13px 15px;
    margin-right: 0;
    background-position: 91% center;
  }
  .menu-header {
    padding-bottom: 24px;
  }
  
  /* grid */
  /* .menu-grid {
    gap: 25px 15px;
    margin-bottom: 40px;
  }
  .menu-grid-cover {
    height: 56vw;
    margin-bottom: 10px;
  }
  .menu-grid-cover img {
    height: 100%;
  }  
  .menu-grid-title {
    font-size: 15px;
  }
  .menu-grid-price {
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 14px;
  }
  .menu-grid-btn {
    padding: 10px 21px;
  }
  .menu-other {
    height: 108vw;
  }
  .menu-other .menu-grid {
    padding-bottom: 24vw;
  }
  .menu-other .menu-grid-cover{
    height: 56vw;
  }
  .menu-other .menu-grid-cover img {
    height: 100%;
  }  
  .menu-other .menu-grid-item {
    flex: 0 0 38vw;
  }   */
  /* footer */
  .footer {
    margin-top: 61px;
    padding-top: 61px;
    padding-bottom: 61px;
  }
  .footer-list + .footer-list-tel {
    display: none;
  }
  .footer-tel {
    display: block;
  }
  .footer-box {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "logo tel" "link link" "info info";
    gap: 33px 0;
  }
  .footer-item:nth-child(1) {
    grid-area: logo;
  }
  .footer-item:nth-child(2) {
    grid-area: link;
  }
  .footer-item:nth-child(3) {
    grid-area: info;
  }
  .footer-tel {
    grid-area: tel;
    text-align: right;
  }
/* index */
  .content-title {
    max-width: 290px;
    font-size: 58px;
    line-height: 120%;
  }
  .content-title span {
    font-size: 14px;
    margin-bottom: 12px;
  }
  .content-text {
    max-width: 316px;
    font-size: 13px;
    margin-top: 21px;
    line-height: 1.4;
    margin-bottom: 32px;
  }
  .visual-bg {
    position: relative;
    width: 333px;
    height: 100%;
    left: -410px;
  }
  .main img {
    position: absolute;
    width: 298px;
    right: -54px;
    bottom: -635px;
  }
  /* index burger */
  .footer-item h2 {
    font-size: 18px;
  }
  .footer-tel {
    margin-bottom: 29px;
  } 
  .main img {
    position: absolute;
    width: 350px;
    right: -77px;
    bottom: -684px;
  }
  .promo {
    padding-top: 96px;
    padding-bottom: 46px;
}
}
@media (max-width: 413px) {
  /* menu */
  .banner-box {
    background-position: -50px center;
  }
  .main img {
    position: absolute;
    width: 298px;
    right: -77px;
    bottom: -684px;
  }
  .promo {
    padding-top: 96px;
    padding-bottom: 46px;
}
  /* index */
  .visual-bg {
    position: relative;
    width: 298px;
    height: 100%;
    left: -410px;
  }
  .main img {
    position: absolute;
    width: 298px;
    right: 633px;
    bottom: -88px;
  }
  .main img {
    position: absolute;
    width: 298px;
    right: -77px;
    bottom: -684px;
  }
  .promo {
    padding-top: 96px;
    padding-bottom: 46px;
}
}
@media (max-width: 360px) {
  /* menu */
  .header-logo {
    width: 116px;
    height: 37px;
    background-size: contain;
  }
  .menu-grid-title {
    font-size: 13px;
  }
  /* index */
  .content {
    padding-top: 42px;
    padding-left: 15px;
  }
  .content-text {
    max-width: 277px;
    font-size: 13px;
    margin-top: 21px;
    line-height: 1.4;
    margin-bottom: 32px;
  }
  .main img {
    position: absolute;
    width: 298px;
    right: -77px;
    bottom: -684px;
  }
  .promo {
    padding-top: 96px;
    padding-bottom: 46px;
}
  /* index  */
  .content-link, .promo a {
    padding: 18px 31px;
  }
}
@media (max-width: 320px) {
  /* menu */
  .banner-box {
    background-position: 25% center;
  }
  .promo-description {
    font-size: 13px;
  }
}