body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FEFCFE;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 27px;
  padding: 0;
}

.header-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  left: 0;
}
/*лого*/
.logo-header {
  display: block;
  background-image: url(../logo/logo-header.svg);
  left: 0;
  width: 97px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
/*хедер меню*/
.header-nav {
  list-style-type: none;
  display: flex;
  gap: 54px;
  margin-left: 20px;
}
.header-nav a {
  font-weight: 400;
  font-size: 18px;
  Line-height: 27px;
  color: #443737;
  text-decoration: none;
  transition: 0.3s;
}
.menu-link:hover {
  color: #443737;
  
}
.menu-link {
  position: relative;
}
.menu-link:hover:before {
  transform: scaleX(1);
  transform: transform 0.25s;
  transition: 0.5s;
}
.menu-link:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #443737;
  position: absolute;
  left: 0;
  bottom:-10px;
  transform: scaleX(0);
  transform-origin: left;
}
 /*иконка соцсети*/
.icon-social {
  display: flex;
  list-style-type: none;
  left: 0;
  right: 0;
}

.icon-scale-1 a {
  margin-left: 30px;
  display: block;
  background-image: url(../images/icons/IN.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  transition: 0.3s;
  transform: scale(1);
  opacity: 0.8;
}
.icon-scale-2 a {
  margin-left: 30px;
  display: block;
  background-image: url(../images/icons/FB.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  transition: 0.3s;
  transform: scale(1);
  opacity: 0.8;
}
.icon-scale-1 a:hover {
  transform: scale(1.2);
  opacity: 1;
}
.icon-scale-2 a:hover {
  transform: scale(1.2);
  opacity: 1;
}
/*иконка соцсети*/

/*Главный баннер*/
.banner-content {
  padding: 239px 0 274px;
  width: 57%;
  position: relative;
}
.banner-header {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  color: #2B3541;  
  top: 1000px;
  padding: 0;
  margin: 0;
  text-align: justify;
}
.banner-dis {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  color: #2B3541;
  margin: 43px 0 21px;
}
.banner-dis span:first-child {
  padding-right: 10px;
}
.banner-bottom {
  padding-left: 93px;
 }
.banner-text p{
  width: 60%;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #2B3541;
  margin: 0 0 53px;    
}
.banner {
  margin: 0 0 145px;
  position: relative;
  overflow: hidden;
}
.banner-button {
  text-decoration: none;
  background: #FBF138;
  border: none;
  padding: 20px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2B3541;
  transition: 0.5s;
}
.banner-button:hover {
  font-weight: 700;
  background: #2B3541;
  color: #FBF138;
}
.banner-arrow {
  position: absolute;
  bottom: 12px;
  left: 0;
}
.banner-screen {
  position: absolute;
  top: 52px;
  left: 329px;
  width: 983px;
  height: 810px;
}
.banner-rectangle {
  background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
  opacity: 0.2;
  width: 464px;
  height: 850px;
  position: absolute;
  bottom: 15px;
  right: -487px;
  z-index: 1;  
}
.menu-title {
  text-transform: none;
  font-weight: 700;
  size: 40px;
  line-height: 50px;
  color: #2B3541;
}
.banner-link {
  font-weight: 700;
  font-size: 16px;
  padding: 18px 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #1E2F40;
  font-weight: bold;  
  background-color: #FBF138;  
  border: 1px solid #FBF138;
  transition: 0.5s;
}
.banner-link:hover {
  font-weight: 700;
  font-size: 16px;
  background-color: #2B3541;
  color: #FBF138;
}
.banner-title {
  font-size: 60px;
  font-weight: 900;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 12px;
}
.banner-title span {
  font-family: 'Montserrat', sans-serif;
  display: block;
  max-width: 96px;
  text-align: center;
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #F37335;
  border-radius: 14px;
  padding: 5px 0; 
}
.banner-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color:#2B3541;
  max-width: 311px;
  margin-bottom: 52px;
  margin-top: 0;
  line-height: 1.6;
}
/*Главный баннер*/

/*arrow*/
.banner-arrow {
  position: absolute;
  bottom: 12px;
  left: 0;
}
.banner-screen {
  position: absolute;
  top: 52px;
  left: 329px;
  width: 983px;
  height: 810px;
  z-index: 10;
}
.banner-rectangle {
  background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
  opacity: 0.2;
  width: 464px;
  height: 850px;
  position: absolute;
  bottom: 15px;
  right: -487px;
  z-index: 1;
}
/*arrow*/

/*Близжайшие события*/
.events {
  margin-bottom: 160px;
}
h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #2B3541;
  margin: 0;
  padding: 0;
}
.events-grid {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 600px; 
  gap: 20px;
  position: relative;
}
.events-item {
  display: inline-block;
	position: relative;    
	line-height: 0;  
}
.events-item::after {
  content: "";
	display: block;
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;    
	left: 0;   
	background: transparent;
  background: linear-gradient(180deg, rgba(251, 241, 56, 0.45) 0%, rgba(253, 249, 182, 0) 100%);
	opacity: 0.8;    
}
.events-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.pic-1 {
  background-image: url(../files/@1x/maraphon.png);
}
.pic-2 {
  background-image: url(../files/@1x/Vebinar.png);
}
.pic-3 {
  background-image: url(../files/@1x/yoga_2.png);
}
.events-table {
  padding: 10px 30px;
}
.event-date {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #2B3541;
  opacity: 0.999;
  position: relative;
  z-index: 16;
}
.event-name {
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #2B3541;
  opacity: 0.99;
  margin: 21px 0 0;
  position: relative;
  z-index: 15;
}
.events-add {
  display: none;  
}
.event-join {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase; 
  color: #2B3541;
  padding: 20px 49px;
  background: #FBF138;
  box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
  z-index: 11;
  position: absolute;
  top: 185px;
  left: 30px;
  transition: 0.5s;
  border: none;
  
}
.event-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(251, 241, 56, 0.45) 0%, rgba(253, 249, 182, 0) 100%);
  z-index: 10;
  opacity: 0;
  transition: 0.8s;
}
.event-hover:hover {
  opacity: 1;
  z-index: 10;
  transition: 0.8s;
}
.event-join {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2B3541;
  padding: 20px 49px;
  background: #FBF138;
  box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
  z-index: 11;
  position: absolute;
  top: 185px;
  left: 30px;
  transition: 0.5s;
  border: none;
}
.event-join:hover {
  background: #2B3541;
  color: #FBF138;
  transition: 0.5s;
  cursor: pointer;
}
.event-button {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #FBF138; 
  padding: 23px 20px;  
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #2B3541;
  transition: 0.5s;
}

/*РАсписание тренировок*/
.schedule-header {
  display: flex;
  justify-content: space-between;  
  margin-bottom: 40px;
}
.schedule-date {
  padding-top: 13px;
  right: 0;
  font-weight: 700;
  font-size: 28px;
  color: #2B3541;
}
.schedule-grid {
  display: grid;  
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 309px 56px 274px;
  gap: 20px;
}
.schedule-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #727880; 
  padding: 20px 30px;
}
.schedule-item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.schedule-item:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
.schedule-item:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.schedule-item:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}
.schedule-item:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.schedule-item:nth-child(6) {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}
.icon-title { 
  display: flex; 
  flex-direction: column;
  justify-content: flex-end;
  gap: 40px;
}
.schedule-time {
  text-align: end;  
}
.schedule-title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.schedule-hover {
  background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
  box-shadow: 0px 13px 30px 0px rgba(186, 180, 69, 0.2);
  transition: 0.5s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.schedule-item:hover {
  cursor: pointer;
  transition: 0.5s;
  background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
  box-shadow: 0px 13px 30px 0px rgba(186, 180, 69, 0.2);
  border: 1px solid transparent;
}
/*Расписание тренировок*/

/*обратная связь*/
.h2-subscription {
  margin-left: 35px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.h2-form {
  margin-top: 50px;
  
}
.form-control {
  padding: 20px 148px 20px 20px;
  border: none;  
  color: #2B3541;
  margin-top: 14px;
  margin-left: 28px;
}
.subscription {
  display: flex;
  align-items: center;
  margin-top: 160px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #F3F3F3;
}
.subscription-circle {
  position: absolute;
  width: 53px;
  height: 53px;
  left: -34px;
  top: -38px;
  background-color: #FBF138;
  border-radius: 50%;
  z-index: 1;
}
.h2-subscription h2 { 
  line-height: 24px;
  color: #2B3541;
  display: inline-block;
  z-index: 10;
  position: relative;
}
.agree-ment {
  margin-top: 10px;
}
/*обратная связь*/

/*чекбокс*/
.agree-ment{
  margin-left: 27px;
}
.label {
  font-size: 11px;
  text-decoration: none;
  color: rgba(43, 53, 65, 1);

}
.label a {
  color: rgba(43, 53, 65, 1);
  text-decoration: underline;

}
.checkbox:checked,
.checkbox:not(:checked){
   position: absolute;
   left:-9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
   position: relative;
   padding-left: 35px;
   cursor:pointer;
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт активен */
.checkbox:checked + label::before{
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left:0;
   top:calc(50% - 10px);
   background-color: #2B3541;
   border-radius: 2px;
   border: 2px solid #2B3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт активен */
.checkbox:checked + label::after{
   content:'';
   position: absolute;
   width: 12px;
   height: 12px;
   transition: all .2s ease;
   opacity: 1;
   left: 4px;
   top: calc(50% - 6px);
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт НЕ активен */
.checkbox:not(:checked) + label::before{
   content:'';
   position: absolute;
   width: 16px;
   height: 16px;
   left:0;
   top:calc(50% - 10px);
   background-color: transparent;
   border-radius: 2px;
   border: 2px solid #2B3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт НЕ активен */
.checkbox:not(:checked) + label::after{
   content:'';
   position: absolute;
   width: 12px;
   height: 12px;
   transition: all .2s ease;
   opacity: 0;
   left: 4px;
   top: calc(50% - 6px);
   background-position: 0 -12px;
   background-color: transparent;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2048px-White_check.svg.png);
}
.radio:checked + label::before{
   border-radius: 100%;
}

/*чекбокс*/

/*О компании*/
.about {
  margin-top: 160px;
  margin-bottom: 170px;
  margin-left: 0px;
  margin-right: 0;
  width: 100%;
}
.about-add {
  max-width: 1140px;
  margin-top: 80px;
  gap: 85px;
}
.about-banner {
}
.about-h3 {
  font-weight: 700;
  font-size: 18px;
}
.about-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.about-item p {
  color: #2B3541;
  opacity: 60%;
}

.about-banner-img {   
    margin-left: -11px;   
    width: 50%;
    
}
.about-banner-text h2 {
  padding-bottom: 19px;  
}
.about-banner-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #2B3541;
  margin-bottom: 56px;
  
}
.about-btn{
  
}
.about-item {
  
}
.h2-subscription {
  position: relative;
}
.about-add,
.about-banner {
  display: flex;
}
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2B3541;
  padding: 17px 42px;
  background: #FBF138;
  transition: 0.5s;
}

/*О компании*/

/*футер*/
.footer {
  background-color: #F3F3F3;
  padding: 52px 0;
}
.footer-content-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.footer-nav li {
  display: inline-block;
}
.nav-link .logo-header {
  margin-top: -5px;
}
a, u {
  text-decoration: none;  
}


.footer-nav {
  flex-basis: 55.5%;
  display: flex;
  justify-content: space-between;
}
.footer-nav ul {
  display: flex;
  justify-content: space-between;
  flex: 0 0 73%;
}
.footer-nav a {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #2B3541;

}
footer ul .nav-link::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: transparent;
  display: block;
  transition: 0.5s;
  margin-top: 3px;
}
footer ul .nav-link:hover::after {
  background-color: #2B3541;
  transition: 0.5s;
}
.footer-mail {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #2B3541;
  display: inline-block;
  z-index: 10;
  position: relative;  
  margin-right: 5px;
  gap: 5px;
}
.contacts {
  flex: 0 0 295px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: -8px;
}
.footer-circle {
  position: absolute;
  width: 25px;
  height: 25px;
  left: -17px;
  top: 10px;
  background-color: #FBF138;
  border-radius: 50%;
  z-index: 1;
}
.footer-social_media {
  flex: 0 0 86px;
  display: flex;
  justify-content: space-between;
  margin: 9px 0 0 68px;
}
.footer-social-media li:nth-child(n) a {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  transition: 0.3s;
  transform: scale(1);
  opacity: 0.8;
  margin-top: -7px;
}
.rights {
  display: flex;
  justify-content: space-between;
}
  .rights p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #2B3541;
    opacity: 30%;
  }
  .annblock a {
    text-decoration: underline;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #2B3541;    
  }
  .subscribe-button {
    margin-left: 20px;
    border: none;
    cursor: pointer;
  }

  .banner-button:hover,
  .subscribe-button:hover,
  .about-btn:hover {
    background: #2B3541;
    box-shadow: 0px 13px 24px rgba(43, 53, 65, 0.2);
    color: #FBF138;
    transition: 0.5s;
  }
  .burger {
    width: 34px;
    height: 22px;
    background-image: url(../images/icons/burger-menu.svg);
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
  }  
/*футер*/

@media (max-width: 1220px) {
  .title-info {
    font-weight: 400;
    color: #ffffff;
    font-size: 22px;
    border: 2px solid #ffffff;
    padding-top: 34px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 34px;
    margin-top: 0;
  }
  .title-info span {
    font-family: 'Noah', sans-serif;
    font-size: 43px;
    font-weight: 700;
    color: #ffffff;
  }
  .top-left {
    position: absolute;
    top: 35px;
    left: 35px;
    right: 35px;
    font-size: 32px;
    font-weight: 600;
  }  
}
@media (min-width: 1001px) {
  .footer-list + .footer-list-tel {
     display: none;
  } 
  .header-burger {
    display: none;
  }
}
@media (max-width: 1000px) {
  .header-nav + .modal{
    display: none;
  }  
  nav {
    display: none;
  }
  .header-burger {
    display: block;
  }  
  .bg-progym{
    display: block;
    background-image: url(../images/bg-main-color.png);
    background-size: cover;
    width: 100%;
    height: 1000px;
    background-position: center center;
    margin-bottom: 0;
  }
  .girl-bg {
    display: block;
    background-image: url(../images/girl-bg-sh.png);
    width: 100%;
    height: 1000px;  
  }
  .box-fhoto {
    width: 100%;
    height: 380px;
    position: relative;
    overflow: hidden;   
    margin-bottom: 20px;
    position: center center;
  }
  .box-fhoto img {          
    top: 50%;
    left: 50%;
    width: 800px;
    height: 380px;   
    transform: translate(-50% -50%);
    -o-object-fit: cover;
       object-fit: cover;
    text-align: center;
    position: center center;
  }
  .button-text {
    display: none;
    font-size: 18px;
  }
  .container {
    max-width: 738px;
  }
  .header-logo {
    width: 95px;
    height: 48px;
    background-size: contain;
  }
  .header-nav {    
    gap: 24px;
  }
  .header-item {
    flex-basis: 69%;
  }
  .bg {
    margin-bottom: 72px;
  }
  .banner-box {
    background-position: -80px center;
    padding: 40px 40px 120px;
  }
  .menu-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 15px;
  }
  .menu-grid-2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 2px 15px;
  }
  .menu-grid-3 {
    grid-template-columns: repeat(1, 1fr);
    gap: 2px 15px;
  }
  
  .menu-grid-title-1 {
    font-size: 24px;
    line-height: 36px;
  }
  .input-box {
    font-size: 20px;    
  }
  .menu-other {
    overflow: hidden;
    height: 558px;
  }
  .menu-other .menu-grid {
    display: flex;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 50px;    
  }  
  .footer-tel {
    display: none;
  }
  .footer-list + .footer-list-tel {
    display: block;
  }  
  .content {
    padding-top: 42px;
    padding-left: 0;
  }
  .content-title {
    max-width: 579px;
    margin-top: 30px;
    font-size: 96px;
    line-height: 101px;    
  }
  .content-title span {
    margin-top: -100px;
    font-size: 22px;
    margin-bottom: 7px;
  }
  .content-text {
    max-width: 537px;
    font-size: 64px;
    margin-top: 28px;
    line-height: 1.4;
    margin-bottom: 30px;
  }
  .content-link, .promo a {
    color: #ffffff;
    background-color: none;
    border-radius: 0;
    text-decoration: none;
    padding: 16px 34px;
    display: inline-block;
    font-size: 24px;
  }
  .main img {
    position: absolute;
    width: 662px;
    right: 56px;
    bottom: -109px;
  } 
  .footer-tel-mobile {
    margin-top: 50px;
  }
}
  @media (max-width: 823px) {
  .input-box {
    font-size: 20px;
    height: 40px;
    width: 70%; 
    margin-top: 50px;
    margin-bottom: 40px; 
    color: #ffffff;
  }
  .input-box input,
  .input-box textarea {
    color: white;
    height: 100%; 
    width: 100%; 
    border: none;
    border-bottom: 2px solid #ffffff;  
    border-radius: 0; 
    background: #151515; 
    padding: 0 0; 
  }
  .input-box input,
  .input-box textarea :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
    color: white;
  }
  .input-box textarea {
    resize: none;
    padding: 20px;
    color: #ffffff;
  }
  .message-box {
    min-height: 110px
  }    
   label [type=checkbox]{
    background-color: #F0390F;
  }
  .menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 40px 20px;
  }
  .menu-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 100px 20px;
  }
  .menu-grid-3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    gap: 2px 20px;
  }
}
@media (max-width: 769px) {
  .menu-grid-title span {
    width: 150px;
  }
  .menu-grid-title {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .menu-grid-btn {
    font-size: 20px;
    padding: 16px 52px;
  }
  .button-1 input[type="button"] {
    color: #ffffff;
    font-size: 20px;
    background: none;
    outline: none;
    border: 2px solid #ffffff;
    padding: 16px 52px;
    border-radius: 0;
    transition: 0.2s;
  }  
  .top-left {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    font-size: 24px;
    font-weight: 600;
  }
} 
  .header {
    gap: 21px;
  }
  .button-up .visible {
    display: none;
}
  .main img {
    position: absolute;
    width: 496px;
    right: -84px;
    bottom: -815px;
}
  .visual-bg {
    position: absolute;
    width: 333px;
    height: 644px;
    left: 396px;
}
  .wrapper {    
    display: flex;
    flex-flow: column-reverse;
    height: 100%;
    gap: 22px;
}  
  .input-box {
    letter-spacing: 1.5px;
    font-size: 24px;
    height: 60px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
    color: #ffffff;
} 
@media (max-width: 586px) {  
  .menu-grid-title-1 {    
    font-size: 24px;
  }
  .top-left {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    font-size: 20px;
    font-weight: 600;
  }  
  .input-box {
    letter-spacing: 1.5px;
    font-size: 24px;
    height: 60px; 
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
    color: #ffffff;
  }
  .input-box input,
  .input-box textarea {
    color: white;
    height: 100%; 
    width: 100%; 
    border: none;
    border-bottom: 2px solid #ffffff;  
    border-radius: 0;
    background: #151515;
    padding: 0 0; 
  }
  .input-box input,
  .input-box textarea :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
    color: white;
  }
  .input-box textarea {
    resize: none; 
    padding: 20px;
    color: #ffffff;
  }
  .message-box {
    min-height: 110px;
  }
  .text {    
    letter-spacing: 1.5px;
    font-size: 16px;
    padding-left: 28px;
    color: #ffffff;  
    width: 85%;
    font-weight: 400;
  }
  

  .menu-grid-cover {
    height: 56vw;
    margin-bottom: 10px;
  }
  .menu-grid-cover img {
    height: 100%;
  }    
  .menu-grid-price {
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 14px;
  }
  .menu-grid-btn {
    font-size: 20px;
    padding: 16px 34px;
  }
  .button-1 input[type="button"] {
    color: #ffffff;
    font-size: 20px;
    background: none;
    outline: none;
    border: 2px solid #ffffff;
    padding: 16px 34px;
    border-radius: 0;
    transition: 0.2s;
  }
  .menu-other {
    height: 108vw;
  }
  .menu-other .menu-grid {
    padding-bottom: 24vw;
  }
  .menu-other .menu-grid-cover{
    height: 56vw;
  }
  .menu-other .menu-grid-cover img {
    height: 100%;
  }  
  .menu-other {
    flex: 0 0 38vw;
  }  
  .menu-grid-title {
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: -20px;
  }
  .menu-grid-title span {
    text-transform: uppercase;
    display: grid;
    font-size: 32px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 10px;
    line-height: 40px;
  }
  .menu-grid-price {
    font-size: 16px;
    margin-bottom: 14px;
  }  
  .footer {
    margin-top: 30px;
  }
  .banner-link {
    padding: 11px 25px;
  }
  .visual-bg {
    position: relative;
    width: 432px;
    height: 100%;
    margin-left: 168px;
  }
}
@media (max-width: 567px) {
  .container {
    max-height: 100%;
  }
  
  .input-box {
    letter-spacing: 1.5px;
    font-size: 18px;
    height: 52px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
    color: #ffffff;
  }
  .menu-grid-title-1 {    
    font-size: 18px;
  }
  .burger-close {
    width: 28px;
    height: 28px;
  }
  .burger {
    width: 35px;
    height: 23px;
  }
  .content-link {
    margin-top: 0;
    font-size: 20px;
    padding: 16px 34px;
  }
  .bg-progym{
    display: block;
    background-image: url(../images/bg-main-color.png);
    background-size: cover;
    width: 100%;
    height: 844px;
    background-position: center center;
    margin-bottom: 0;
  }
  .girl-bg {
    display: block;
    background-image: url(../images/girl-bg-sh.png);
    width: 100%;
    height: 844px;  
  }  
  .header {
    padding-top: 19px;
    padding-bottom: 19px;
  }
  .header-logo {
    width: 116px;
    height: 37px;
  }
  .breadcrumbs a {
    font-size: 14px;
  }
  .bg {
    margin-bottom: 33px;
    padding: 55px 0;
  }
  .tittle {
    font-size: 38px;
  }   
  .description {
    font-size: 12px;
  }
  .banner-box {
    background-position: 17% center;
    padding: 35px 24px 54px;
    margin-bottom: 40px;
  }
  .menu-title {
    font-size: 34px;
    margin-top: 100px;
  }  
  .menu-select {
    font-size: 12px;
    flex-basis: 136px;
    padding: 13px 24px 13px 15px;
    margin-right: 0;
    background-position: 91% center;
  }
  .menu-header {
    padding-bottom: 24px;
  }    
  .footer {
    margin-top: 61px;
    padding-top: 61px;
    padding-bottom: 61px;
  }
  .footer-list + .footer-list-tel {
    display: none;
  }
  .footer-tel {
    display: block;
  }
  .footer-box {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "logo tel" "link link" "info info";
    gap: 33px 0;
  }
  .footer-item:nth-child(1) {
    grid-area: logo;
  }
  .footer-item:nth-child(2) {
    grid-area: link;
  }
  .footer-item:nth-child(3) {
    grid-area: info;
  }
  .footer-tel {
    grid-area: tel;
    text-align: right;
  }
  .content {
    margin-left: 0;
    }
  .content-title {
    margin-top: 50px;    
    max-width: 500px;
    font-size: 80px;
    line-height: 120%;
  }
  .content-title span {
    font-size: 14px;
    margin-bottom: 12px;
  }
  .content-text {
    max-width: 400px;
    font-size: 50px;
    margin-top: 21px;
    line-height: 1.2;
    margin-bottom: 32px;
  }
  .visual-bg {
    position: relative;
    width: 333px;
    height: 100%;
    left: -410px;
  }
  .main img {
    position: absolute;
    width: 298px;
    right: -54px;
    bottom: -635px;
  }
  .footer-item h2 {
    font-size: 18px;
  }
  .footer-tel {
    margin-bottom: 29px;
  } 
  .main img {
    position: absolute;
    width: 350px;
    right: -77px;
    bottom: -684px;
  }
  .promo {
    padding-top: 96px;
    padding-bottom: 46px;
  }
}
@media (max-width: 480px) {  
  .content-title {
    padding-top: 20px;
    font-size: 65px;
  }
  .content-text {
    font-size: 40px;
  }
  .button-up {  
    width: 36px;
    height: 36px; 
  }
  .menu-grid-title-1 {
    margin-top: -40px;
  }
  .menu-grid-title span {
    width: 300px;
  }
  .menu-grid-title {
    width: 300px;
  }
  .input-box {
    letter-spacing: 1.5px;
    font-size: 18px;
    height: 52px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
    color: #ffffff;
  }
  .menu-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    gap: 26px 20px;
  }
  .menu-grid-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    gap: 50px 20px; 
  }
  
  .top-left {
    font-size: 34px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .box-fhoto {
    width: 100%;
    height: 241px;
    position: relative;
    overflow: hidden;   
    margin-bottom: 20px;
    position: center center;
  }
  .box-fhoto img {          
    top: 50%;
    left: 50%;
    width: 800px;
    height: 241px;   
    transform: translate(-50% -50%);
    -o-object-fit: cover;
       object-fit: cover;
    text-align: center;
    position: center center;
  }
  .menu-title {
    margin-bottom: 20px;
  }
}
@media (max-width: 413px) {  
  .input-box {
    letter-spacing: 1.5px;
    font-size: 18px;
    height: 52px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
    color: #ffffff;
  }
  .top-left {
    font-size: 24px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  } 
  .banner-box {
    background-position: -50px center;
  }
  .main img {
    position: absolute;
    width: 298px;
    right: -77px;
    bottom: -684px;
  }
  .promo {
    padding-top: 96px;
    padding-bottom: 46px;
  }
  .visual-bg {
    position: relative;
    width: 298px;
    height: 100%;
    left: -410px;
  }
  .main img {
    position: absolute;
    width: 298px;
    right: 633px;
    bottom: -88px;
  }  
  .promo {
    padding-top: 96px;
    padding-bottom: 46px;
  }
  .menu-grid-title span {
    max-width: 500px;
    font-size: 32px;
  }
  .menu-grid-title span {
    width: 100px;
  }
}
@media (max-width: 360px) { 
  .menu-grid-item {   
    width: 290px;
  }  
  .container {
    max-width: 290px;
  }
 
  .input-box {
    letter-spacing: 1.5px;
    font-size: 18px;
    height: 52px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
    color: #ffffff;
  }
  .top-left {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .title-info span {
    font-size: 35px;
    font-weight: 700;
    color: #ffffff;    
  }
  .title-info {      
      font-size: 18px;
  }  
  .header-logo {
    width: 71px;
    height: 36px;
    background-size: contain;
  }
  .menu-grid-title {
    font-size: 24px;
  }
  .menu-grid-title span {
    font-size: 32px;
  }
  .content {
    padding-top: 42px;
    padding-left: 0;
  }
  .content-text {
    max-width: 300px;
    font-size: 36px;
    margin-top: 21px;
    line-height: 1.2;    
  }
  .main img {
    position: absolute;
    width: 298px;
    right: -77px;
    bottom: -684px;
  }
  .promo {
    padding-top: 96px;
    padding-bottom: 46px;
  }    
}
@media (max-width: 320px) {
  .menu-grid-title span {
    font-size: 32px;
  }
  .text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5px;
    letter-spacing: 1px;
  }
  .menu-grid-title-1 {
    font-size: 18px;    
  }  
  .banner-box {
    background-position: 25% center;
  }
  .promo-description {
    font-size: 13px;
  }
  .input-box {
    letter-spacing: 1.5px;
    font-size: 18px;
    height: 52px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
    color: #ffffff;
  }
}


  
